body {
    font-family: sans-serif;
    margin-top: 10mm;
    margin-left: 20mm;
}
.buttons {
    border: none;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: flexbox;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
#display_first_event {
    /* color: red; */
    font-weight: bolder;
}
#btn-1 {
    color: #00c; 
}
#btn-1:focus {
    color: #cc0;
}
#btn-1:hover {
    color: red;
    font-style: oblique;
}
#btn-4 {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btn-4 > img {
    width: 25px;
    height: auto;
    margin-right: 1rem
}
#img {
    display: none;
    height: 208px;
    width: 315px;
}